/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* ==============================
	  colour
================================*/
/* ==============================
	   fonts
================================*/
/* ==============================
	  margins
================================*/
/* margin for each page top  */
/* margin for each page bottom */
/* =====================================================================
    style
========================================================================== */
/* ==============================
    base
================================*/
/*********************************************************/
/*login*/
/*********************************************************/
/* line 15, ../sass/cmsstyle.scss */
.cms-back {
  background-image: url("../images/event/back-event.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: block;
  padding-bottom: 110em;
  padding-top: 6em;
  height: 100vh;
}

/* line 29, ../sass/cmsstyle.scss */
.white {
  color: white;
}

/* Styles for signup panels */
/* line 38, ../sass/cmsstyle.scss */
.center.row {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

/* line 48, ../sass/cmsstyle.scss */
form input, form span {
  height: 50px;
}
/* line 51, ../sass/cmsstyle.scss */
form [type="submit"] {
  text-align: center;
  font-size: 1.9em;
  padding: 0em 1em 0em 1em;
}

/* line 58, ../sass/cmsstyle.scss */
.button {
  margin-left: 35%;
}

/* line 62, ../sass/cmsstyle.scss */
.login-col {
  padding-top: 75px !important;
  padding-bottom: 75px;
  padding-right: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 69, ../sass/cmsstyle.scss */
.loginbtn {
  position: relative;
  left: -3.5em;
}

/* line 74, ../sass/cmsstyle.scss */
.login-logo {
  width: 60%;
  margin-bottom: 6em;
}

/* line 78, ../sass/cmsstyle.scss */
.login-mark {
  width: 17%;
  margin-bottom: 6em;
  margin-right: 1em;
}

/* ==============================
	   cms page admin page
	================================*/
/* line 89, ../sass/cmsstyle.scss */
.logout-btn {
  color: #ed7c98;
  font-size: 2.5em;
  padding: 0.3em 2em;
  background-color: white;
  margin-bottom: 1em;
}

/* line 98, ../sass/cmsstyle.scss */
.admn-link {
  padding: 1.5em;
  background-color: #ed7c98;
  color: white;
}
/* line 104, ../sass/cmsstyle.scss */
.admn-link p {
  font-size: 1.8em;
  margin: auto;
}
/* line 108, ../sass/cmsstyle.scss */
.admn-link h2 {
  font-size: 2.5em;
}

/* line 113, ../sass/cmsstyle.scss */
.cms-btn {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 2em;
}

  /* ==============================
	   cms page new post  page
	================================*/
/* line 130, ../sass/cmsstyle.scss */
.cms-post textarea {
  height: 10em;
  font-size: 1.8em;
}
/* line 134, ../sass/cmsstyle.scss */
.cms-post img {
  width: 60%;
}
/* line 137, ../sass/cmsstyle.scss */
.cms-post [type="submit"] {
  font-size: 1.9em;
  padding: 0.2em 1em 0.2em 1em;
  margin-top: 1em;
}
/* line 142, ../sass/cmsstyle.scss */
.cms-post button {
  width: 7em;
  background-color: grey;
  color: white;
  font-size: 1.8em;
  border: 1px solid white;
}

/* line 150, ../sass/cmsstyle.scss */
[type="file"] {
  font-size: 1.9em;
}
