/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* ==============================
	  colour
================================*/
/* ==============================
	   fonts
================================*/
/* ==============================
	  margins
================================*/
/* margin for each page top  */
/* margin for each page bottom */
/* ==============================
	  custom function
================================*/
/* * {
    outline: 1px solid #ccc;
}
 */
/*fonts*/
/* =====================================================================
	    style
	========================================================================== */
/* ==============================
    base
================================*/
/* line 20, ../sass/style.scss */
html {
  line-height: 1.5;
}

/* line 23, ../sass/style.scss */
body {
  font-size: 62.5%;
  font-family: "Josefin Slab", serif;
  color: #43454a;
  line-height: 1.4;
}

/* line 29, ../sass/style.scss */
ul, li {
  margin: 0;
  padding: 0;
}

/* line 33, ../sass/style.scss */
li {
  list-style: none;
}

/* line 36, ../sass/style.scss */
p {
  font-size: 1.9em;
  font-family: "Josefin Slab", serif;
  margin-top: 0.5em;
  color: #43454a;
}

/* line 46, ../sass/style.scss */
h1 {
  font-family: "Prata", serif;
  font-size: 6em;
  color: #ed7c98;
  margin-bottom: 0.2em;
}

/* line 55, ../sass/style.scss */
h2 {
  font-family: "Prata", serif;
  font-size: 4em;
  color: #ed7c98;
}

/* line 63, ../sass/style.scss */
h3 {
  font-family: "Prata", serif;
  font-size: 3em;
  color: #ed7c98;
}

/* line 70, ../sass/style.scss */
h4 {
  font-family: "Limelight", cursive;
  font-size: 2.5em;
  color: #43454a;
  margin-top: 0.3em;
}

/* line 80, ../sass/style.scss */
h5 {
  font-family: "Prata", serif;
  font-size: 1.9em;
  color: #ed7c98;
}

/*handy*/
/* margins for each section in the page */
/* line 90, ../sass/style.scss */
.section-margin-top {
  margin-top: 3em;
  margin-bottom: 1em;
}

/*  margin top for */
/* line 95, ../sass/style.scss */
.margin-top {
  margin-top: 7.5em;
}

/*  margin top cms*/
/* line 100, ../sass/style.scss */
.margin-top-cms {
  margin-top: 15em;
}

/* line 104, ../sass/style.scss */
.margin-bottom {
  margin-bottom: 6em;
}

/* line 108, ../sass/style.scss */
.title-margin {
  margin: 2.5em 0em  0em 0em;
}

/* line 112, ../sass/style.scss */
.white {
  color: white;
}

/* line 113, ../sass/style.scss */
.primary {
  color: #ed7c98;
}

/* line 114, ../sass/style.scss */
.black {
  color: black;
}

/* line 116, ../sass/style.scss */
.center {
  text-align: center;
}

/* line 120, ../sass/style.scss */
.right {
  float: right;
}

/* line 122, ../sass/style.scss */
.left {
  float: left;
}

/* line 124, ../sass/style.scss */
.full {
  width: 100%;
}

/* line 126, ../sass/style.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 131, ../sass/style.scss */
.cf:after {
  clear: both;
}

/* line 134, ../sass/style.scss */
.margin-auto {
  margin: 0 auto;
}

/*********************************************************/
/*header Navigation*/
/*********************************************************/
/* line 142, ../sass/style.scss */
.logo {
  position: absolute;
  top: 22px;
  left: 100px;
  width: 20%;
}

/* line 148, ../sass/style.scss */
.bottom-line {
  border-bottom: 4px black double;
  border-top: 4px black double;
}

/* line 152, ../sass/style.scss */
.top-nav {
  min-height: 13em;
}
/* line 153, ../sass/style.scss */
.top-nav ul {
  display: table;
  margin: 0 auto;
  padding: 1em;
}
/* line 161, ../sass/style.scss */
.top-nav li {
  display: table-cell;
  float: left;
}
@media all and (max-width: 550px) {
  /* line 161, ../sass/style.scss */
  .top-nav li {
    float: none;
  }
}
/* line 167, ../sass/style.scss */
.top-nav li a {
  font-family: "Limelight", cursive;
  font-size: 2em;
  color: black;
  margin: 1.2em;
  padding: 0.5em;
}
/* line 176, ../sass/style.scss */
.top-nav li a:hover {
  color: #ed7c98;
  padding: 0.5em;
}

/* line 185, ../sass/style.scss */
.logo {
  width: 8em;
  position: absolute;
  top: 13px;
  left: 200px;
}

/*********************************************************/
/*HERO AREA*/
/*********************************************************/
/* line 196, ../sass/style.scss */
.head-back {
  background-image: url("../images/home/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* 			height: 100vh; */
  display: block;
  /*more then the tablet size*/
}
@media all and (min-width: 55em) {
  /* line 196, ../sass/style.scss */
  .head-back {
    min-height: 75em;
  }
}

/* line 213, ../sass/style.scss */
.hero-logo {
  width: 90%;
  margin-top: 23em;
}

/*********************************************************/
/*category*/
/*********************************************************/
/*********************************************************/
/*footer*/
/*********************************************************/
/*footer*/
/* line 231, ../sass/style.scss */
.footer-back {
  background-color: black;
  padding-top: 3em;
}

/* line 236, ../sass/style.scss */
.foot-nav {
  margin-bottom: 4em;
}
/* line 238, ../sass/style.scss */
.foot-nav img {
  width: 60%;
  margin: 2em 0em 1em 0em;
}
/* line 242, ../sass/style.scss */
.foot-nav p {
  color: white;
  margin: 0em;
  font-size: 1.8em;
}

/* line 248, ../sass/style.scss */
.foot-bar {
  color: white;
  margin-right: 1.2em;
  padding: 1.8em;
}

/* line 254, ../sass/style.scss */
.nav-icon
i {
  margin: 0.2em;
}
/* line 257, ../sass/style.scss */
.nav-icon
i:hover {
  color: #ed7c98;
}

/* line 263, ../sass/style.scss */
.foot-nav-item li {
  padding: 0.6em;
}
/* line 265, ../sass/style.scss */
.foot-nav-item li a {
  color: white;
  font-family: "Limelight", cursive;
  font-size: 1.5em;
}
/* line 270, ../sass/style.scss */
.foot-nav-item li a:hover {
  color: #ed7c98;
}

/*form for contact*/
/* line 278, ../sass/style.scss */
.contact-form textarea {
  height: 7em;
  margin-bottom: 2em;
}
/* line 280, ../sass/style.scss */
.contact-form label {
  color: white;
  margin-top: 1em;
  font-family: "Prata", serif;
  font-size: 1.5em;
}

/* line 283, ../sass/style.scss */
[type="submit"] {
  font-family: "Prata", serif;
  font-size: 1.8em;
}

/*********************************************************/
/*contact*/
/*********************************************************/
/*********************************************************/
/*Cms*/
/*********************************************************/
/*LOGIN*/
/* line 304, ../sass/style.scss */
.login_container {
  background-color: #ffcac2;
  padding: 5em 0em;
  margin-top: 12em;
}
/* line 308, ../sass/style.scss */
.login_container p {
  font-size: 5em;
  font-family: "Limelight", cursive;
  color: #ed7c98;
}

/* line 315, ../sass/style.scss */
.cms-back {
  background-image: url("../images/cms/back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 325, ../sass/style.scss */
.cms-nav li {
  padding: 2em 0em;
  background-color: #ffcac2;
}
/* line 328, ../sass/style.scss */
.cms-nav li a {
  font-family: "Limelight", cursive;
  font-size: 2em;
  color: black;
  padding: 0.3em;
}
/* line 335, ../sass/style.scss */
.cms-nav li a:hover {
  color: #ed7c98;
}

/* line 341, ../sass/style.scss */
th {
  background-color: #ed7c98;
  color: white;
  border: solid 1px black;
  text-align: center;
  font-family: "Limelight", cursive;
  font-size: 1.5em;
}

/* line 349, ../sass/style.scss */
td {
  border: 1px solid;
}

/* line 352, ../sass/style.scss */
td:nth-child(2) {
  width: 15%;
}

/* line 355, ../sass/style.scss */
td:nth-child(5) {
  width: 15%;
}

/* line 356, ../sass/style.scss */
td:nth-child(6) {
  width: 15%;
}

/* line 358, ../sass/style.scss */
.list {
  font-family: "Prata", serif;
  font-size: 1.6em;
}

/*********************************************************/
/*Controll jquery class*/
/*********************************************************/
/* line 366, ../sass/style.scss */
.hide {
  display: none;
}
