@charset "UTF-8";
/* ==============================
	  colour
================================*/
/* ==============================
	   fonts
================================*/
/* ==============================
	  margins
================================*/
/* margin for each page top  */
/* margin for each page bottom */
/* ==============================
	  custom function
================================*/
/* * {
    outline: 1px solid #ccc;
}
 */
/*fonts*/
/* =====================================================================
	    style
	========================================================================== */
/* ==============================
    base
================================*/
/* line 20, ../sass/style.scss */
html {
  line-height: 1.5;
}

/* line 23, ../sass/style.scss */
body {
  font-size: 62.5%;
  font-family: "Josefin Slab", serif;
  color: #43454a;
  line-height: 1.4;
  background-image: url("../images/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* line 34, ../sass/style.scss */
body .base-back {
  background: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  /* Large and up */
  /* Medium only */
  /* Small only */
}
@media screen and (min-width: 64em) {
  /* line 34, ../sass/style.scss */
  body .base-back {
    width: 115em;
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  /* line 34, ../sass/style.scss */
  body .base-back {
    width: 60em;
  }
}
@media screen and (max-width: 39.9375em) {
  /* line 34, ../sass/style.scss */
  body .base-back {
    width: 39em;
  }
}

/* line 45, ../sass/style.scss */
ul, li {
  margin: 0;
  padding: 0;
}

/* line 49, ../sass/style.scss */
li {
  list-style: none;
}

/* line 52, ../sass/style.scss */
p {
  font-size: 1.8em;
  font-family: "Josefin Slab", serif;
  margin-top: 0.5em;
  color: #43454a;
}

/* line 60, ../sass/style.scss */
h1 {
  font-family: "Prata", serif;
  font-size: 6em;
  color: #ed7c98;
  margin-bottom: 0.2em;
}

/* line 68, ../sass/style.scss */
h2 {
  font-family: "Prata", serif;
  font-size: 4em;
  color: #ed7c98;
}

/* line 76, ../sass/style.scss */
h3 {
  font-family: "Prata", serif;
  font-size: 2.4em;
  color: #ed7c98;
}

/* line 83, ../sass/style.scss */
h4 {
  font-family: "Limelight", cursive;
  font-size: 1.8em;
  color: black;
  margin-top: 0.6em;
}

/* line 93, ../sass/style.scss */
h5 {
  font-family: "Prata", serif;
  font-size: 1.8em;
  color: #ed7c98;
  margin-top: 0.3em;
}

/*handy*/
/* margins for each section in the page */
/* line 104, ../sass/style.scss */
.section-margin-top {
  margin-top: 3em;
  margin-bottom: 1em;
}

/* line 108, ../sass/style.scss */
.comment-section-margin-top {
  margin-top: 4em;
}

/* line 111, ../sass/style.scss */
.comment-mar {
  margin-top: 1.7em;
}

/*  margin top for */
/* line 115, ../sass/style.scss */
.margin-top {
  margin-top: 7.5em;
}

/*  margin top cms*/
/* line 120, ../sass/style.scss */
.margin-top-cms {
  margin-top: 15em;
}

/* line 124, ../sass/style.scss */
.margin-bottom {
  margin-bottom: 6em;
}

/* line 127, ../sass/style.scss */
.margin-menu-top {
  margin-bottom: 2.5em;
}

/* line 130, ../sass/style.scss */
.margin-menu-btm {
  margin-top: 2.5em;
}

/* line 133, ../sass/style.scss */
.margin-post {
  margin-top: 1.4em;
}

/* line 137, ../sass/style.scss */
.white {
  color: white;
}

/* line 138, ../sass/style.scss */
.primary {
  color: #ed7c98;
}

/* line 139, ../sass/style.scss */
.black {
  color: black;
}

/* line 141, ../sass/style.scss */
.center {
  text-align: center;
}

/* line 145, ../sass/style.scss */
.right {
  float: right;
}

/* line 147, ../sass/style.scss */
.left {
  float: left;
}

/* line 149, ../sass/style.scss */
.full {
  width: 100%;
}

/* line 151, ../sass/style.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 156, ../sass/style.scss */
.cf:after {
  clear: both;
}

/* line 159, ../sass/style.scss */
.margin-auto {
  margin: 0 auto;
}

/*********************************************************/
/*header Navigation*/
/*********************************************************/
/* line 169, ../sass/style.scss */
.menu-small {
  margin: 1.2em 0em;
}
/* line 170, ../sass/style.scss */
.menu-small li {
  margin-bottom: 0.5em;
}
/* line 172, ../sass/style.scss */
.menu-small a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  color: black;
}
/* line 175, ../sass/style.scss */
.menu-small a:hover {
  color: #e75075;
}

/* line 181, ../sass/style.scss */
.logo {
  position: absolute;
  top: 22px;
  left: 100px;
  width: 20%;
}

/* line 187, ../sass/style.scss */
.bottom-line {
  border-bottom: 4px black double;
  border-top: 4px black double;
}

/* line 192, ../sass/style.scss */
.top-nav ul {
  display: table;
  margin: 0 auto;
  padding: 1em;
}
/* line 197, ../sass/style.scss */
.top-nav li {
  display: table-cell;
  float: left;
}
@media all and (max-width: 550px) {
  /* line 197, ../sass/style.scss */
  .top-nav li {
    float: none;
  }
}
/* line 203, ../sass/style.scss */
.top-nav li a {
  font-family: "Limelight", cursive;
  font-size: 1.8em;
  color: black;
  margin: 1em;
  /* Medium only */
  /* Small only */
}
/* line 211, ../sass/style.scss */
.top-nav li a:hover {
  color: #ed7c98;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  /* line 203, ../sass/style.scss */
  .top-nav li a {
    font-size: 1.8em;
    margin: 0.7em;
  }
}
@media screen and (max-width: 39.9375em) {
  /* line 203, ../sass/style.scss */
  .top-nav li a {
    font-size: 1.6em;
    margin: 0.6em;
  }
}

/* line 225, ../sass/style.scss */
.logo {
  width: 8em;
  position: absolute;
  top: 13px;
  left: 200px;
}

/*********************************************************/
/*HERO AREA*/
/*********************************************************/
/* line 236, ../sass/style.scss */
.head-back {
  background-image: url("../images/home/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* 			height: 100vh; */
  display: block;
  /*more then the tablet size*/
}
@media all and (min-width: 55em) {
  /* line 236, ../sass/style.scss */
  .head-back {
    min-height: 75em;
  }
}

/* line 253, ../sass/style.scss */
.hero-logo {
  width: 90%;
  margin-top: 23em;
}

/* 
.heart {
    font-size: 80px;
    color: #FF3D67;
    -webkit-animation: heart-beats .3s infinite alternate;
    animation: heart-beats .3s infinite alternate; 
    transform-origin: center;
}

/* Animation Setting */
/* @-webkit-keyframes heart-beats {
    to { -webkit-transform: scale(1.1); }
}
@keyframes heart-beats {
    to { transform: scale(1.1); }
}  */
/*********************************************************/
/*category*/
/*********************************************************/
/*ribbon-day*/
/* line 282, ../sass/style.scss */
.ribbon-day {
  background-color: #ffcac2;
  position: relative;
  height: 2.4em;
  width: 21em;
  /* margin: auto ;*/
  margin-top: 0.5em;
  margin-bottom: 1em;
}
/* line 283, ../sass/style.scss */
.ribbon-day p {
  margin-bottom: 0em;
  text-align: center;
  font-size: 1.5em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

/* line 290, ../sass/style.scss */
.ribbon-day:after {
  content: '';
  position: absolute;
  height: 0;
  border: 12px solid transparent;
  top: 0;
  width: 0;
  border-top-color: #ffcac2;
  border-bottom-color: #ffcac2;
  z-index: 1;
}

/* line 291, ../sass/style.scss */
.ribbon-day:before {
  left: -12px;
}

/* line 292, ../sass/style.scss */
.ribbon-day:after {
  right: -12px;
}

/* TAG for image */
/* line 294, ../sass/style.scss */
.points > div {
  display: inline-block;
  width: 100%;
  margin-right: 15px;
  vertical-align: top;
}

/* line 300, ../sass/style.scss */
.points p {
  margin: 1em 0;
}

/* line 303, ../sass/style.scss */
.points .image {
  position: relative;
}

/* ΓæñΓæÑribbon */
/* line 307, ../sass/style.scss */
.point-ribbon {
  position: absolute;
  background: #FF797D;
  font-size: 1.9em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #fff;
}

/* line 315, ../sass/style.scss */
.point-ribbon:before {
  position: absolute;
  content: " ";
  height: 0;
  width: 0;
}

/* line 321, ../sass/style.scss */
.point-ribbon:after {
  position: absolute;
  content: " ";
  height: 0;
  width: 0;
}

/* Γæñribbon-l */
/* line 328, ../sass/style.scss */
.point-ribbon-l {
  top: 0.7em;
  left: -12px;
  height: 1.8em;
  line-height: 1.7;
  padding-left: 1.8em;
  padding-right: 1.2em;
}

/* line 336, ../sass/style.scss */
.point-ribbon-l:before {
  left: 0;
  top: 100%;
  border-top: .7em solid #C83539;
  border-left: .7em solid transparent;
}

/* line 342, ../sass/style.scss */
.point-ribbon-l:after {
  left: 100%;
  border: .9em solid #FF797D;
  border-right: .7em solid transparent;
}

/* line 348, ../sass/style.scss */
.article h3 {
  margin: 0em 0em 0.3em 0em;
}
/* line 349, ../sass/style.scss */
.article img {
  margin-bottom: 1em;
}
/* line 350, ../sass/style.scss */
.article p {
  margin: 0em 0em 0.5em 0em;
}

/* line 353, ../sass/style.scss */
.button.more {
  font-size: 1.5em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: white;
  padding: 0.4em 1em;
}

/*********************************************************/
/*post*/
/*********************************************************/
/* line 363, ../sass/style.scss */
.recom {
  margin-top: 1.8em;
}

/* line 366, ../sass/style.scss */
.ribbon-day-post {
  background-color: #ffcac2;
  position: relative;
  height: 3em;
  width: 25em;
  /* margin: auto ;*/
  margin-top: 0.5em;
  margin-bottom: 1em;
}
/* line 367, ../sass/style.scss */
.ribbon-day-post p {
  margin-bottom: 0em;
  text-align: center;
  font-size: 2em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

/* line 374, ../sass/style.scss */
.ribbon-day-post:after {
  content: '';
  position: absolute;
  height: 0;
  border: 15px solid transparent;
  top: 0;
  width: 0;
  border-top-color: #ffcac2;
  border-bottom-color: #ffcac2;
  z-index: 1;
}

/* line 375, ../sass/style.scss */
.ribbon-day-post:before {
  left: -14px;
}

/* line 376, ../sass/style.scss */
.ribbon-day-post:after {
  right: -14px;
}

/* line 380, ../sass/style.scss */
.subbtn {
  border: none;
  background-color: #ed7c98;
  color: #fff;
  padding: 0.4em 3em;
}

/* line 387, ../sass/style.scss */
input[type="submit"] {
  font-family: "Limelight", cursive;
}

/*comment*/
/* line 392, ../sass/style.scss */
.arrow_box {
  position: relative;
  background: #ffcac2;
  padding: 1em 2em;
  margin-left: 1.5em;
}
/* line 396, ../sass/style.scss */
.arrow_box p {
  font-size: 1.7em;
  margin-bottom: 0.3em;
}
/* line 397, ../sass/style.scss */
.arrow_box h4 {
  font-size: 1.8em;
}
/* line 398, ../sass/style.scss */
.arrow_box .more {
  color: #e75075;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8em;
  font-weight: 700;
}

/* line 404, ../sass/style.scss */
.arrow_box:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 202, 194, 0);
  border-right-color: #ffcac2;
  border-width: 20px;
  margin-top: -20px;
}

/* line 419, ../sass/style.scss */
.com-area {
  font-size: 1.4em;
}

/*********************************************************/
/*footer*/
/*********************************************************/
/*footer*/
/* line 429, ../sass/style.scss */
.footer-back {
  background-color: black;
  padding-top: 3em;
  margin-top: 5em;
}

/* line 435, ../sass/style.scss */
.foot-nav {
  margin-bottom: 4em;
}
/* line 437, ../sass/style.scss */
.foot-nav img {
  width: 60%;
  margin: 2em 0em 1em 0em;
}
/* line 441, ../sass/style.scss */
.foot-nav p {
  color: white;
  margin: 0em;
  font-size: 1.8em;
}

/* line 447, ../sass/style.scss */
.foot-bar {
  color: white;
  margin-right: 1.2em;
  padding: 1.8em;
}

/* line 453, ../sass/style.scss */
.nav-icon
i {
  margin: 0.2em;
}
/* line 456, ../sass/style.scss */
.nav-icon
i:hover {
  color: #ed7c98;
}

/* line 462, ../sass/style.scss */
.foot-nav-item li {
  padding: 0.6em;
}
/* line 464, ../sass/style.scss */
.foot-nav-item li a {
  color: white;
  font-family: "Limelight", cursive;
  font-size: 1.5em;
}
/* line 469, ../sass/style.scss */
.foot-nav-item li a:hover {
  color: #ed7c98;
}

/*form for contact*/
/* line 477, ../sass/style.scss */
.contact-form textarea {
  height: 7em;
  margin-bottom: 2em;
}
/* line 479, ../sass/style.scss */
.contact-form label {
  color: white;
  margin-top: 1em;
  font-family: "Prata", serif;
  font-size: 1.5em;
}

/* line 482, ../sass/style.scss */
[type="submit"] {
  font-family: "Prata", serif;
  font-size: 1.8em;
}

/*********************************************************/
/*SIDE*/
/*********************************************************/
/* line 491, ../sass/style.scss */
.media-object-section.sideimg {
  width: 35%;
}

/* line 492, ../sass/style.scss */
.media-object-section.title {
  width: 65%;
}

/* line 493, ../sass/style.scss */
.button.more.right.side {
  width: 4em;
}

/* line 494, ../sass/style.scss */
.side {
  padding-left: 3em;
}

/*********************************************************/
/*Cms*/
/*********************************************************/
/*LOGIN*/
/* line 501, ../sass/style.scss */
.login_container {
  background-color: #ffcac2;
  padding: 5em 0em;
  margin-top: 12em;
}
/* line 505, ../sass/style.scss */
.login_container p {
  font-size: 5em;
  font-family: "Limelight", cursive;
  color: #ed7c98;
}

/* line 512, ../sass/style.scss */
.cms-back {
  background-image: url("../images/cms/back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 522, ../sass/style.scss */
.cms-nav li {
  padding: 2em 0em;
  background-color: #ffcac2;
}
/* line 525, ../sass/style.scss */
.cms-nav li a {
  font-family: "Limelight", cursive;
  font-size: 2em;
  color: black;
  padding: 0.3em;
}
/* line 532, ../sass/style.scss */
.cms-nav li a:hover {
  color: #ed7c98;
}

/* line 538, ../sass/style.scss */
th {
  background-color: #ed7c98;
  color: white;
  border: solid 1px black;
  text-align: center;
  font-family: "Limelight", cursive;
  font-size: 1.5em;
}

/* line 546, ../sass/style.scss */
td {
  border: 1px solid;
}

/* line 549, ../sass/style.scss */
td:nth-child(2) {
  width: 10%;
}

/* line 550, ../sass/style.scss */
td:nth-child(3) {
  width: 20%;
}

/* line 551, ../sass/style.scss */
td:nth-child(4) {
  width: 40%;
}

/* line 552, ../sass/style.scss */
td:nth-child(5) {
  width: 15%;
}

/* line 553, ../sass/style.scss */
td:nth-child(6) {
  width: 15%;
}

/* line 554, ../sass/style.scss */
td:nth-child(7) {
  width: 10%;
}

/* line 555, ../sass/style.scss */
.list {
  font-family: "Prata", serif;
  font-size: 1.6em;
}

/* line 559, ../sass/style.scss */
.small {
  width: 100%;
}

/* line 562, ../sass/style.scss */
.table-date {
  font-size: 1.3em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #ed7c98;
  padding: 0em 0.5em;
  border: 1px solid #ed7c98;
  text-align: center;
}

/* line 571, ../sass/style.scss */
.table-date.list {
  font-size: 1.6em;
  margin: 0.6em 0em;
  width: 60%;
}

/*********************************************************/
/*Controll jquery class*/
/*********************************************************/
/* line 581, ../sass/style.scss */
.hide {
  display: none;
}

/* line 584, ../sass/style.scss */
.show {
  display: block;
}
