@import "compass";
@import "partials/fonts";
@import "partials/config";



/* * {
    outline: 1px solid #ccc;
}
 */

/*fonts*/

/* =====================================================================
	    style
	========================================================================== */
	/* ==============================
	    base
	================================*/
	html{
		line-height: 1.5;
	}
	body{
		font-size: $baseSize;
		font-family: $mainFont;
		color: $body;
		line-height: 1.4;
		background:{ image:url("../images/back.jpg");
			size: cover;
			repeat: no-repeat;
			attachment: fixed;
		}
//back base white
.base-back{background:white(0.7);
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 5em;
		/* Large and up */
		@media screen and (min-width: 64em) {width: 115em;}
		/* Medium only */
		@media screen and (min-width: 40em) and (max-width: 63.9375em) {width: 60em;}
		/* Small only */
		@media screen and (max-width: 39.9375em) {width: 39em;}
	}
}
ul, li{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
p{
	font:{
		size:$text;
	}
	font-family: $mainFont;
	margin-top:0.5em;
	color: $body;
}
h1{
	font:{
		family:$headding;
		size: $h1_size;
		//weight: $bold;
	}
	color: $primary;
	margin-bottom:0.2em; 
}
h2{
	font:{
		family:$headding;
		size: $h2_size;
	}
	color: $primary;
}
h3{
	font:{
		family:$headding;
		size: $h3_size;
		//weight: $bold;
	}
	color: $primary;
}
h4{
	font:{
		family:$menu;
		size: $h4_size;
	}
	color: black;
	margin-top: 0.6em;
}
h5{
	font:{
		family:$mini-headding;
		weight: $semi;
		size: $h5_size;
	}
	color: $side;
	//margin-top: 0.3em;
}

/*handy*/
/*blog-margin*/
#list {
	margin-top:2em;
}
.blog-mar{
	margin-bottom: 0.5em;
}
/* margins for each section in the page */
.section-margin-top{
	margin-top:3em;
	margin-bottom: 1em;
}
.comment-section-margin-top{
	margin-top:4em;
}
.comment-mar{
	margin-top:1.7em;
}
/*  margin top for */
.margin-top{
	margin-top:$topMar;
}

/*  margin top cms*/
.margin-top-cms{
	margin-top:15em;
}

.margin-bottom{
	margin-bottom:6em;
}  
.margin-menu-top{
	margin-bottom: 2.5em;
}
.margin-menu-btm{
	margin-top: 2.5em;
}
.margin-post{
	margin-top: 1.4em;
}

.white{color: white;}
.primary{color: $primary;}
.black{ color: black;}

.center{
	text-align: center;
}

.right{float: right;}

.left{float: left;}

.full{width: 100%;}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
	clear: both;
}
.margin-auto {
	margin: 0 auto;
}




/*********************************************************/
			/*header Navigation*/
/*********************************************************/
.menu-small{
	li{margin-bottom:0.5em;}
	margin: 1.2em 0em;
	a{
		font:{family: $sans; size: 1.6em; weight: $semi;}
		color: black;
		&:hover{
			color: $pdark;
				//
			}
		}	
	}
	.logo{
		position: absolute;
		top: 22px;
		left: 100px;
		width: 20%;
	}
	.tnav-top-line{
		//border-bottom: 4px black double;
		border-top: 4px black double;
	}
	.tnav-btm-line{
		border-bottom: 4px black double;
	}
	.bottom-line{
		border-bottom: 4px black double;
		border-top: 4px black double;
	}
	.top-nav{
		ul{
			display:table;
			margin:0 auto;
			padding: 1em;
		}
		li{ 
			display:table-cell;
			float: left;
			@media all and (max-width: 550px){
				float: none;
			}
			a{
				font:{ 
					family: $menu;
					size: 1.9em;
				}
				color: black;
				margin: 1.1em;
			//padding:0.3em;
			&:hover{
				color: $primary;
			}
			/* Medium only */
			@media screen and (min-width: 40em) and (max-width: 63.9375em) {font-size: 1.8em;
				margin: 0.7em;
			}
		/* Small only */
		@media screen and (max-width: 39.9375em) {font-size: 1.6em; margin: 0.6em;}
	}

}
}

.top-nav.top{
	li{ 	
		a{
			font:{ 
				family: $menu;
				size: 2.1em;
			}
			margin: 0.6em;
		}
	}
}
	.logo{
		width: 8em;
		position: absolute;
		top: 13px;
		left: 200px;
	}

/*********************************************************/
			/*HERO AREA*/
/*********************************************************/

.head-back{
	background:{
		image: url("../images/home/hero.jpg");
		repeat: no-repeat;
		position:center;
		size: cover;
/* 			height: 100vh; */
}
display:block;
		/*more then the tablet size*/
		@media all and (min-width: 55em){
			min-height:75em;
		}
		
	} 

	
	.hero-logo{
		width: 90%;
		margin-top: 23em;
	}

/* 
.heart {
    font-size: 80px;
    color: #FF3D67;
    -webkit-animation: heart-beats .3s infinite alternate;
    animation: heart-beats .3s infinite alternate; 
    transform-origin: center;
}

/* Animation Setting */
/* @-webkit-keyframes heart-beats {
    to { -webkit-transform: scale(1.1); }
}
@keyframes heart-beats {
    to { transform: scale(1.1); }
}  */




/*********************************************************/
			/*category*/
/*********************************************************/
/*ribbon-day*/
.ribbon-day { 
	p{	margin-bottom: 0em;
		text-align: center;
		font:{ size: 1.7em; family: $sans; weight: $semi;}
	}
	background-color: $tagcol; position: relative; height: 2.4em; width: 21em; /* margin: auto ;*/ margin-top: 0.5em; margin-bottom: 1em;}

//.ribbon-day:before,
.ribbon-day:after { content: ''; position: absolute; height:0; border: 12px solid transparent; top: 0; width: 0; border-top-color: $tagcol; border-bottom-color: $tagcol; z-index: 1; }
.ribbon-day:before { left: -12px; }
.ribbon-day:after { right: -12px; }
/* TAG for image */
.points > div {
	display: inline-block;
	width: 100%;
	margin-right: 15px;
	vertical-align: top;
}
.points p {
	margin: 1em 0;
}
.points .image {
	position: relative;
}
/* ⑤⑥ribbon */
.point-ribbon {
	position: absolute;
	background: #FF797D;
	font-size: 1.9em;
	font-family:$sans;
	font-weight: $bold;
	color: #fff;
}
.point-ribbon:before {
	position: absolute;
	content: " ";
	height: 0;
	width: 0;
}
.point-ribbon:after {
	position: absolute;
	content: " ";
	height: 0;
	width: 0;
}
/* ⑤ribbon-l */
.point-ribbon-l {
	top: 0.4em;
	left: -12px;
	height: 1.8em;
	line-height: 1.7;
	padding-left: 1.8em;
	padding-right: 1.2em;
}
.point-ribbon-l:before {
	left: 0;
	top: 100%;
	border-top:.7em solid #C83539;
	border-left:.7em solid transparent;
}
.point-ribbon-l:after {
	left: 100%;
	border: .9em solid #FF797D;
	border-right:.7em solid transparent;
}
.article {
	h3{margin: 0em 0em 0.3em 0em;}
	img{margin-bottom: 1em;}
	p{ margin: 0em 0em 0.5em 0em;}
}

.button.more {
	font-size: 1.5em;
	font-family:$sans;
	font-weight: $bold;
	color: white;
	padding: 0.4em 1em;
}
/*********************************************************/
			/*post*/
/*********************************************************/
.recom{
	margin-top: 1.8em;
}
.ribbon-day-post { 
	
	p{	margin-bottom: 0em;
		text-align: center;
		font:{ size: 1.7em; family: $sans; weight: $bold;}
	}
	background-color: $tagcol; position: relative; height: 2.65em; width: 25em; /* margin: auto ;*/ margin-top: 0.5em; margin-bottom: 2em;}

//.ribbon-day:before,
.ribbon-day-post:after { content: ''; position: absolute; height:0; border: 13px solid transparent; top: 0; width: 0; border-top-color: $tagcol; border-bottom-color: $tagcol; z-index: 1; }
.ribbon-day-post:before { left: -14px; }
.ribbon-day-post:after { right: -14px; }



.subbtn{
	border: none;

	background-color: $primary;
	color: #fff;
	padding: 0.4em 3em;
}
input[type="submit"]{
	font-family: $menu;
}

/*comment*/
.arrow_box {
	position: relative;
	background: #ffcac2;
	padding: 0.6em 2em;
	.com-date {
		margin-bottom: 0em;
		font:{family: $sans; size: 1.4em; weight: $semi;}
	}

	.content { font-size: 1.7em; margin-bottom: 0.3em;}
	h4{font-size: 1.8em;}
	.more{ 
		color: #e75075; 
		font:{family: $sans; size: 1.8em; weight: $bold;}
	}
	margin-left: 1.5em;
}
.arrow_box:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 202, 194, 0);
	border-right-color: #ffcac2;
	border-width: 20px;
	margin-top: -20px;
}

.com-area{
	font-size: 1.3em;
}
i.fa-s {
	font-size: 1.4em;
}
.link-sephora{
	color: $pdark;
	font:{ weight: $semi; family: $sans; size: 1.8em; }
}

/*********************************************************/
			/*footer*/
/*********************************************************/

/*footer*/
.footer-back{
	background-color: black;
	padding-top: 3em;
	//margin-top: 5em;
}

.foot-nav{
	margin-bottom: 4em;
	img {
		width: 60%;
		margin: 2em 0em 1em 0em;
	}
	p{
		color: white;
		margin: 0em;
		font-size: 1.8em;
	}
}
.foot-bar{
	color: white;
	margin-right: 1.2em;
	padding:1.8em;	
}

.nav-icon 
i{ 
	margin: 0.2em;
	&:hover{
		color: $primary;
	}
}


.foot-nav-item li{
	padding:0.6em;	
	a{ 
		color: white;
		font:{ family: $menu;
			size: 1.5em;
		}
		&:hover{
			color: $primary;
		}
	}
}

/*form for contact*/
.contact-form{
	margin-top: 4em;
	h4{font-size: 3em; margin-bottom: 1.5em;}
	textarea{ height: 6em;
		margin-bottom: 1.5em;}
		label{color:black;     margin-top: 1em; }
	}
	[type="submit"]{
		font-family: $headding; 
		font-size: 1.8em;
		padding:0.7em 1.5em;
	}
	.con-img{margin-top: 5em;}


/*********************************************************/
			/*SIDE*/
/*********************************************************/
.media-object-section.sideimg{width: 35%;}
.media-object-section.title{ width: 65%;}
.button.more.right.side{ width: 4em;}
.side{ padding-left: 3em;}


#page-top {
	position: fixed;
	bottom: 20px;
	right: 30px;
	font-size: 1.4em;
	font-family: $menu;
}
#page-top a {
	background: $tagcol;
	text-decoration: none;
	color: black;
	width: 6em;
	height: 6em;
	padding: 17px 0;
	text-align: center;
	display: block;
	border-radius: 50%;
}
#page-top a:hover {
	text-decoration: none;
	background-color: $primary;
}




/*********************************************************/
			/*Cms*/
/*********************************************************/
	/*LOGIN*/
	.login_container{
		background-color: #ffcac2;
		padding: 5em 0em;
		margin-top: 12em;
		p{
			font-size: 5em;
			font-family: $menu;
			color: $primary;
		}
	}

	.cms-back{
		background:{
			image: url('../images/cms/back.jpg');
			repeat: no-repeat;
			attachment: fixed;
			size: cover; 
		}
	}

	.cms-nav{
		li{ 
			padding: 2em 0em ;
			background-color: #ffcac2;
			a{
				font:{ 
					family: $menu;
					size: 2em;
				}
				color: black;
				padding:0.3em;
				&:hover{
					color: $primary;
				}
			}
		}
	}
	th{
		background-color:$primary;
		color: white;
		border:solid 1px black;
		text-align:center;
		font-family:$menu;
		font-size: 1.5em;
	}
	td{
		border: 1px solid;
	}
	td:nth-child(2){width:10%;}
	td:nth-child(3){width:20%;}
	td:nth-child(4){width:40%;}
	td:nth-child(5){width:15%;}
	td:nth-child(6){width:15%;}
	td:nth-child(7){width:10%;}
	.list{
		font-family:$headding;
		font-size: 1.6em;
	}
	.small{
		width:100%;
	}
	.table-date{
		font-size: 1.3em;
		font-family: $sans;
		font-weight: $bold;
		color: $primary;
		padding: 0em 0.5em;
		border: 1px solid $primary;
		text-align: center;
	}
	.table-date.list{
		font-size: 1.6em;
		margin: 0.6em 0em;
		width: 60%;
	}

	
	/*********************************************************/
			/*Controll jquery class*/
/*********************************************************/
.hide{
	display: none;
}
.show{
	display: block;
}
