/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2016, 1:29:10 PM
    Author     : iam
*/

// base config 
$primary: #ed7c98;
$tag: #ffcac2;
$body: #43454a;
$gategoty: #806561;

$loginBack:#a9a8a8;


$grey: #cccccc;
$white: white;


//image fade effect
$global-radius: 4px;


//image fade effect
$topMar:0.7em;
$bottom-Mar:20em;
$bottomMar:10em;
$head-mar:20em;


