
/* ==============================
	  colour
================================*/
// base config 
$primary: #ed7c98;
$tag: #ffcac2;
$body: #43454a;
$gategoty: #806561;

$loginBack:#a9a8a8;


$grey: #cccccc;
$white: white;




//image fade effect
$topMar:0.7em;
$bottom-Mar:20em;
$bottomMar:10em;
$head-mar:20em;


/* ==============================
	   fonts
================================*/
// base config fonts

//font type
$mainFont: 'Josefin Slab', serif;
$headding: 'Prata', serif;
$menu: 'Limelight', cursive;



//font weight
$mainweight: 400;
$bold: 700;

// base config fonts size
//to make 1em to 10px
$baseSize: 62.5%;
$text: 1.8em;
$title: 5.6em;
$date: 2em;
$tag: 2em;



//h1 size
$h1_size: 6em;
//h2 size
$h2_size: 4em;
//h1 size
$h3_size: 2.4em;
//h4 size
$h4_size: 2.5em;
//h4 size
$h5_size: 1.9em;
//base text size
$text-size: 1.6em;




/* ==============================
	  margins
================================*/
/* margin for each page top  */
$topMar: 7.5em;
/* margin for each page bottom */
$bottomMar: 8em;




/* ==============================
	  custom function
================================*/

@function black($opacity) {
  @return rgba(black, $opacity)
};

@function white($opacity) {
  @return rgba(white, $opacity)
};





