/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
// font config 
//to make 1em to 10px
$baseSize: 62.5%;
//font type
$mainFont: 'Josefin Slab', serif;
$headline: 'Prata', serif;
$menu: 'Limelight', cursive;



//font weight
$mainweight: 400;
$bold: 700;

//fontsize
$text: 1.9em;
$title: 5.6em;
$date: 2em;
$tag: 2em;





$h6: 3em;
$smallText: 1.5em;



//font for h1,points, cta

$headSize: 8em;
$h3: 3em;
$h4: 2.5em;
$h5: 2em;
$h2: 4em;








